{
    "openapi": "3.0.3",
    "info": {
        "version": "2.0",
        "title": "BibleGet",
        "description": "Get Bible quotes from different Bible versions either requesting by reference (book - chapter - verse) or searching by keyword",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        },
        "termsOfService": "https://www.bibleget.io/BibleGetIOTermsofService.html",
        "contact": {
            "name": "John D'Orazio",
            "url": "https://www.bibleget.io",
            "email": "admin@bibleget.io"
        }
    },
    "servers": [
        {
            "url": "https://query.bibleget.io/"
        }
    ],
    "paths": {
        "/index.php": {
            "get": {
                "summary": "Retrieve Bible quotes by reference (book - chapter - verse)",
                "description": "The API endpoint from which one can retrieve Bible quotes by reference (book - chapter - verse)",
                "operationId": "getVersesByGET",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/query"
                    },
                    {
                        "$ref": "#/components/parameters/version"
                    },
                    {
                        "$ref": "#/components/parameters/return"
                    },
                    {
                        "$ref": "#/components/parameters/appid"
                    },
                    {
                        "$ref": "#/components/parameters/pluginversion"
                    },
                    {
                        "$ref": "#/components/parameters/domain"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Structured data containing the Bible verses requested and all associated information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BibleQuoteJSON"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/BibleQuote"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/BibleQuoteHTML"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Retrieve Bible quotes by reference (book - chapter - verse)",
                "description": "The API endpoint from which one can retrieve Bible quotes by reference (book - chapter - verse)",
                "operationId": "getVersesByPOST",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "description": "Bible reference using standard Bible citation notation.",
                                        "example": "Genesis1:1-10"
                                    },
                                    "version": {
                                        "type": "array",
                                        "description": "Bible version or versions from which to retrieve the Bible quote. A list of valid versions can be retrieved from the `metadata.php` API using `query=bibleversions`",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "NABRE",
                                            "NVBSE"
                                        ],
                                        "default": [
                                            "CEI2008"
                                        ]
                                    },
                                    "return": {
                                        "type": "string",
                                        "description": "Type of data that should be returned in the response",
                                        "enum": [
                                            "json",
                                            "xml",
                                            "html"
                                        ],
                                        "example": "json",
                                        "default": "json"
                                    },
                                    "appid": {
                                        "type": "string",
                                        "description": "Unique identifier of the application making the request, to be agreed upon with the owner of the API endpoint",
                                        "example": "postman"
                                    },
                                    "pluginversion": {
                                        "type": "string",
                                        "description": "Version number of the application making the request. Useful not only for statistics, to help understand which version of an application is being actively used, but also (especially in the case of the official applications) to help deal with possibly breaking changes between the application version and versions of the API endpoint",
                                        "example": "v1.0"
                                    },
                                    "domain": {
                                        "type": "string",
                                        "description": "In the case of web based applications, should indicate the domain from which the request is generated. Currently used by the official plugin for WordPress to better understand usage of the plugin and monitor requests. When the application or plugin making the request can be installed on different domains (as is the case with the WordPress plugin), this value should be generated dynamically from a server variable identifying the domain. If instead it will always be the same domain making the requests, the value can be hardcoded with the actual domain.",
                                        "example": "www.example.com"
                                    }
                                },
                                "required": [
                                    "query",
                                    "appid"
                                ]
                            },
                            "encoding": {
                                "version": {
                                    "style": "form",
                                    "explode": false
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Structured data containing the Bible verses requested and all associated information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BibleQuoteJSON"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/BibleQuote"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/BibleQuoteHTML"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/metadata.php": {
            "get": {
                "summary": "Retrieve metadata about Bible versions that are available and their relative book/chapter/verse indexes",
                "description": "The API endpoint for querying metadata such as Bible versions that are available and their relative book/chapter/verse indexes",
                "operationId": "getMetadataByGet",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Specifies the subset of metadata to retrieve. **`biblebooks`**: retrieve the list of valid **book names** and **abbreviations** in various languages that are currently supported / recognized by the main BibleGet API endpoint. **`bibleversions`**: retrieve the list of **Bible versions** that are currently supported by the main BibleGet API endpoint. **`versionindex`**: retrieve the **indices of chapters and verses** for any of the Bible versions currently supported by the BibleGet engine (this value requires the usage of a second parameter `versions`).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "biblebooks",
                                "bibleversions",
                                "versionindex"
                            ]
                        }
                    },
                    {
                        "name": "versions",
                        "in": "query",
                        "description": "*(required in the case of a `query=versionindex` request)* Indicates for which Bible versions the indices data should be returned. The acronyms for valid Bible versions as returned by `query=bibleversions` should be used, either as a single string value or as a comma separated list of values.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "return",
                        "in": "query",
                        "description": "Type of data that should be returned in the response",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "xml",
                                "html"
                            ],
                            "default": "json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Structured data containing the required metadata about either Bible versions available, Bible version indexes, or the names and abbreviations of Bible books for any given Bible version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Metadata"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Metadata"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "$ref": "#/components/schemas/Metadata"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BibleQuoteJSON": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "description": "Array of objects each of which represents a Bible verse with all associated information",
                        "items": {
                            "type": "object",
                            "properties": {
                                "testament": {
                                    "type": "integer",
                                    "enum": [
                                        0,
                                        1
                                    ],
                                    "description": "`0` = *Old Testament*, `1` = *New Testament*",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "section": {
                                    "type": "integer",
                                    "enum": [
                                        0,
                                        1,
                                        2,
                                        3,
                                        4,
                                        5,
                                        6,
                                        7,
                                        8
                                    ],
                                    "description": "`0` = *Pentateuch*, `1` = *Historical Books*, `2` = *Wisdom Books*, `3` = *Prophets*, `4` = *Gospels*, `5` = *Acts of the Apostles*, `6` = *Letters of Saint Paul*, `7` = *Catholic Letters*, `8` = *Apocalypse*",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "book": {
                                    "type": "string",
                                    "description": "Name of the book of the Bible in the language of the Bible version being quoted from",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "bookabbrev": {
                                    "type": "string",
                                    "description": "Abbreviated form of the book of the Bible in the language of the Bible version being quoted from",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "booknum": {
                                    "type": "integer",
                                    "description": "0 based index of the Book of the Bible in the Bible version being quoted from (not all versions have the same books in the same order, especially when considering differences between Catholic and evangelical versions). The value is returned as a number value ready to be used against index information for the Bible version being quoted from. The corresponding name of the Book of the Bible as used in the printed edition of the current Bible version can be retrieved using the `metadata.php` API endpoint, as can index information about the number of chapters in the book and the number of verses in each chapter.",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "univbooknum": {
                                    "type": "string",
                                    "description": "A number identifying the Book of the Bible according to the universally recognized Catholic version of the Canon of the Sacred Scriptures (*i.e. universally recognized by the Roman Catholic Church*). This is not a 0 based index, but rather `1` = *Genesis*, `2` = *Exodus*, etc. Therefore it is returned as a string, but can be treated as a number.",
                                    "enum": [
                                        "1",
                                        "2",
                                        "3",
                                        "4",
                                        "5",
                                        "6",
                                        "7",
                                        "8",
                                        "9",
                                        "10",
                                        "11",
                                        "12",
                                        "13",
                                        "14",
                                        "15",
                                        "16",
                                        "17",
                                        "18",
                                        "19",
                                        "20",
                                        "21",
                                        "22",
                                        "23",
                                        "24",
                                        "25",
                                        "26",
                                        "27",
                                        "28",
                                        "29",
                                        "30",
                                        "31",
                                        "32",
                                        "33",
                                        "34",
                                        "35",
                                        "36",
                                        "37",
                                        "38",
                                        "39",
                                        "40",
                                        "41",
                                        "42",
                                        "43",
                                        "44",
                                        "45",
                                        "46",
                                        "47",
                                        "48",
                                        "49",
                                        "50",
                                        "51",
                                        "52",
                                        "53",
                                        "54",
                                        "55",
                                        "56",
                                        "57",
                                        "58",
                                        "59",
                                        "60",
                                        "61",
                                        "62",
                                        "63",
                                        "64",
                                        "65",
                                        "66",
                                        "67",
                                        "68",
                                        "69",
                                        "70",
                                        "71",
                                        "72",
                                        "73"
                                    ],
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "chapter": {
                                    "type": "integer",
                                    "description": "Chapter of the book of the Bible in the Bible version that the verse is being quoted from",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "versedescr": {
                                    "type": "string",
                                    "description": "Not currently used, comes back as a `null` value. Could possible be used in the future for scholarly notes associated with a Bible verse",
                                    "nullable": true,
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "verse": {
                                    "type": "string",
                                    "description": "Verse Number of the verse being quoted. *N.B. this is returned as a string because it will not always necessarily be a number value, there are verses that have letters in them. The value must be treated as a string and not as a number.*",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "verseequiv": {
                                    "type": "integer",
                                    "description": "I'm not actually sure if this is currently being used or not, I believe the idea was to have a number value for those verses that have a letter in the verse number... Will mostly return a `null` value.",
                                    "nullable": true,
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "text": {
                                    "type": "string",
                                    "description": "Contains the actual text of the verse being quoted. May contain `newline` characters that may need to be dealt with. The **NABRE** version will contain ***it's own formatting tags that need to be dealt with***, whether that means producing the proper formatting associated with these tags, or removing them to have a basic formatting. The legal requirements for usage of the NABRE version require the proper formatting to be used where possible. Please [contact the project author](mailto:admin@bibleget.io) for information on how to deal with these tags and their formatting.",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "version": {
                                    "type": "string",
                                    "description": "the acronym of the Bible version being quoted from. For data associated with any given Bible version, for example index information, the `metadata.php` API endpoint can be used",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "title1": {
                                    "type": "string",
                                    "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any first-level title text preceding the given verse in the version of the Bible being quoted from.",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "title2": {
                                    "type": "string",
                                    "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any second-level title text preceding the given verse in the version of the Bible being quoted from.",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "title3": {
                                    "type": "string",
                                    "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any third-level title text preceding the given verse in the version of the Bible being quoted from.",
                                    "xml": {
                                        "attribute": true
                                    }
                                },
                                "originalquery": {
                                    "type": "string",
                                    "description": "The original query (Bible reference indicated in the `query` parameter of the sent request) that the endpoint received, which produced this result.",
                                    "xml": {
                                        "attribute": true
                                    }
                                }
                            }
                        },
                        "xml": {
                            "wrapped": true,
                            "name": "results"
                        }
                    },
                    "errors": {
                        "type": "array",
                        "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter, a bad value for the `version` parameter, or an API server error",
                        "items": {
                            "type": "string"
                        }
                    },
                    "info": {
                        "type": "object",
                        "description": "An object containing metadata about the API endpoint",
                        "properties": {
                            "ENDPOINT_VERSION": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "BibleQuote": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "object",
                        "description": "Array of objects each of which represents a Bible verse with all associated information",
                        "properties": {
                            "result": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "testament": {
                                            "type": "integer",
                                            "enum": [
                                                0,
                                                1
                                            ],
                                            "description": "`0` = *Old Testament*, `1` = *New Testament*",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "section": {
                                            "type": "integer",
                                            "enum": [
                                                0,
                                                1,
                                                2,
                                                3,
                                                4,
                                                5,
                                                6,
                                                7,
                                                8
                                            ],
                                            "description": "`0` = *Pentateuch*, `1` = *Historical Books*, `2` = *Wisdom Books*, `3` = *Prophets*, `4` = *Gospels*, `5` = *Acts of the Apostles*, `6` = *Letters of Saint Paul*, `7` = *Catholic Letters*, `8` = *Apocalypse*",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "book": {
                                            "type": "string",
                                            "description": "Name of the book of the Bible in the language of the Bible version being quoted from",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "bookabbrev": {
                                            "type": "string",
                                            "description": "Abbreviated form of the book of the Bible in the language of the Bible version being quoted from",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "booknum": {
                                            "type": "integer",
                                            "description": "0 based index of the Book of the Bible in the Bible version being quoted from (not all versions have the same books in the same order, especially when considering differences between Catholic and evangelical versions). The value is returned as a number value ready to be used against index information for the Bible version being quoted from. The corresponding name of the Book of the Bible as used in the printed edition of the current Bible version can be retrieved using the `metadata.php` API endpoint, as can index information about the number of chapters in the book and the number of verses in each chapter.",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "univbooknum": {
                                            "type": "string",
                                            "description": "A number identifying the Book of the Bible according to the universally recognized Catholic version of the Canon of the Sacred Scriptures (*i.e. universally recognized by the Roman Catholic Church*). This is not a 0 based index, but rather `1` = *Genesis*, `2` = *Exodus*, etc. Therefore it is returned as a string, but can be treated as a number.",
                                            "enum": [
                                                "1",
                                                "2",
                                                "3",
                                                "4",
                                                "5",
                                                "6",
                                                "7",
                                                "8",
                                                "9",
                                                "10",
                                                "11",
                                                "12",
                                                "13",
                                                "14",
                                                "15",
                                                "16",
                                                "17",
                                                "18",
                                                "19",
                                                "20",
                                                "21",
                                                "22",
                                                "23",
                                                "24",
                                                "25",
                                                "26",
                                                "27",
                                                "28",
                                                "29",
                                                "30",
                                                "31",
                                                "32",
                                                "33",
                                                "34",
                                                "35",
                                                "36",
                                                "37",
                                                "38",
                                                "39",
                                                "40",
                                                "41",
                                                "42",
                                                "43",
                                                "44",
                                                "45",
                                                "46",
                                                "47",
                                                "48",
                                                "49",
                                                "50",
                                                "51",
                                                "52",
                                                "53",
                                                "54",
                                                "55",
                                                "56",
                                                "57",
                                                "58",
                                                "59",
                                                "60",
                                                "61",
                                                "62",
                                                "63",
                                                "64",
                                                "65",
                                                "66",
                                                "67",
                                                "68",
                                                "69",
                                                "70",
                                                "71",
                                                "72",
                                                "73"
                                            ],
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "chapter": {
                                            "type": "integer",
                                            "description": "Chapter of the book of the Bible in the Bible version that the verse is being quoted from",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "versedescr": {
                                            "type": "string",
                                            "description": "Not currently used, comes back as a `null` value. Could possible be used in the future for scholarly notes associated with a Bible verse",
                                            "nullable": true,
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "verse": {
                                            "type": "string",
                                            "description": "Verse Number of the verse being quoted. *N.B. this is returned as a string because it will not always necessarily be a number value, there are verses that have letters in them. The value must be treated as a string and not as a number.*",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "verseequiv": {
                                            "type": "integer",
                                            "description": "I'm not actually sure if this is currently being used or not, I believe the idea was to have a number value for those verses that have a letter in the verse number... Will mostly return a `null` value.",
                                            "nullable": true,
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "text": {
                                            "type": "string",
                                            "description": "Contains the actual text of the verse being quoted. May contain `newline` characters that may need to be dealt with. The **NABRE** version will contain ***it's own formatting tags that need to be dealt with***, whether that means producing the proper formatting associated with these tags, or removing them to have a basic formatting. The legal requirements for usage of the NABRE version require the proper formatting to be used where possible. Please [contact the project author](mailto:admin@bibleget.io) for information on how to deal with these tags and their formatting.",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "version": {
                                            "type": "string",
                                            "description": "the acronym of the Bible version being quoted from. For data associated with any given Bible version, for example index information, the `metadata.php` API endpoint can be used",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "title1": {
                                            "type": "string",
                                            "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any first-level title text preceding the given verse in the version of the Bible being quoted from.",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "title2": {
                                            "type": "string",
                                            "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any second-level title text preceding the given verse in the version of the Bible being quoted from.",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "title3": {
                                            "type": "string",
                                            "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any third-level title text preceding the given verse in the version of the Bible being quoted from.",
                                            "xml": {
                                                "attribute": true
                                            }
                                        },
                                        "originalquery": {
                                            "type": "string",
                                            "description": "The original query (Bible reference indicated in the `query` parameter of the sent request) that the endpoint received, which produced this result.",
                                            "xml": {
                                                "attribute": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "errors": {
                        "type": "array",
                        "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter, a bad value for the `version` parameter, or an API server error",
                        "items": {
                            "type": "string"
                        }
                    },
                    "info": {
                        "type": "object",
                        "description": "An object containing metadata about the API endpoint",
                        "properties": {
                            "ENDPOINT_VERSION": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "Metadata": {
                "type": "object",
                "required": [
                    "id",
                    "name"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "tag": {
                        "type": "string"
                    }
                }
            }
        },
        "parameters": {
            "query": {
                "name": "query",
                "in": "query",
                "description": "Bible reference using standard Bible citation notation. ",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "examples": {
                    "internationalNotation": {
                        "value": "Genesis1,1-5.7-9",
                        "summary": "International style Bible citation notation"
                    },
                    "englishNotation": {
                        "value": "Genesis1:1-5,7-9",
                        "summary": "English style Bible citation notation"
                    },
                    "chainedQueries": {
                        "value": "John3:16;1John4:7-8",
                        "summary": "Chaining together multiple Bible quotes using a semicolon"
                    },
                    "chainedQueriesSameBook": {
                        "value": "Matthew1:1-5;2:6-8",
                        "summary": "Chaining together multiple Bible quotes from the same book using a semicolon"
                    }
                }
            },
            "version": {
                "name": "version",
                "in": "query",
                "description": "Bible version or versions from which to retrieve the Bible quote. A list of valid versions can be retrieved from the `metadata.php` API using `query=bibleversions`",
                "required": false,
                "schema": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "default": [
                        "CEI2008"
                    ]
                },
                "style": "form",
                "explode": false,
                "examples": {
                    "singleVersion": {
                        "value": [
                            "NVBSE"
                        ],
                        "summary": "retrieve Bible quote from a single Bible version"
                    },
                    "multipleVersions": {
                        "value": [
                            "NABRE",
                            "CEI2008"
                        ],
                        "summary": "retrieve Bible quote from multiple Bible versions"
                    }
                }
            },
            "return": {
                "name": "return",
                "in": "query",
                "description": "Type of data that should be returned in the response",
                "required": false,
                "schema": {
                    "type": "string",
                    "enum": [
                        "json",
                        "xml",
                        "html"
                    ],
                    "default": "json"
                },
                "example": "html"
            },
            "appid": {
                "name": "appid",
                "in": "query",
                "description": "Unique identifier of the application making the request, to be agreed upon with the owner of the API endpoint",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "pluginversion": {
                "name": "pluginversion",
                "in": "query",
                "description": "Version number of the application making the request. Useful not only for statistics, to help understand which version of an application is being actively used, but also (especially in the case of the official applications) to help deal with possibly breaking changes between the application version and versions of the API endpoint",
                "required": false,
                "schema": {
                    "type": "string"
                },
                "example": "v2.0"
            },
            "domain": {
                "name": "domain",
                "in": "query",
                "description": "In the case of web based applications, should indicate the domain from which the request is generated. Currently used by the official plugin for WordPress to better understand usage of the plugin and monitor requests. When the application or plugin making the request can be installed on different domains (as is the case with the WordPress plugin), this value should be generated dynamically from a server variable identifying the domain. If instead it will always be the same domain making the requests, the value can be hardcoded with the actual domain.",
                "required": false,
                "schema": {
                    "type": "string"
                },
                "example": "www.example.com"
            }
        }
    }
}
