{
  "openapi": "3.0.3",
  "info": {
      "version": "3.0",
      "title": "BibleGet",
      "description": "Get Bible quotes from different Bible versions either requesting by reference (book - chapter - verse) or searching by keyword",
      "license": {
          "name": "Apache 2.0",
          "url": "http://www.apache.org/licenses/LICENSE-2.0"
      },
      "termsOfService": "https://www.bibleget.io/BibleGetIOTermsofService.html",
      "contact": {
          "name": "John D'Orazio",
          "url": "https://www.bibleget.io",
          "email": "admin@bibleget.io"
      }
  },
  "servers": [
      {
          "url": "https://query.bibleget.io/v3"
      }
  ],
  "paths": {
      "/index.php": {
          "get": {
              "summary": "Retrieve Bible quotes by reference (book - chapter - verse)",
              "description": "The API endpoint from which one can retrieve Bible quotes by reference (book - chapter - verse)",
              "operationId": "getVersesByGET",
              "tags": ["MainAPI"],
              "parameters": [
                  {
                      "$ref": "#/components/parameters/query"
                  },
                  {
                      "$ref": "#/components/parameters/version"
                  },
                  {
                      "$ref": "#/components/parameters/return"
                  },
                  {
                      "$ref": "#/components/parameters/appid"
                  },
                  {
                      "$ref": "#/components/parameters/pluginversion"
                  },
                  {
                      "$ref": "#/components/parameters/domain"
                  },
                  {
                      "$ref": "#/components/parameters/preferorigin"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Structured data containing the Bible verses requested and all associated information",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BibleQuoteResponseJSON"
                              }
                          },
                          "application/xml": {
                              "schema": {
                                  "$ref": "#/components/schemas/BibleQuoteResponseXML"
                              }
                          },
                          "text/html": {
                              "schema": {
                                  "$ref": "#/components/schemas/MainAPIHtmlResponse"
                              }
                          }
                      }
                  },
                  "415": {
                      "description": "Unsupported media type. Will be returned if a content type other than `application/json`,`application/xml` or `text/html` is requested."
                  },
                  "400": {
                      "description": "Bad request. Will be returned for example if a content type of `application/json` was set in the request, but no JSON data or malformed JSON data was sent in the body of the request."
                  },
                  "405": {
                      "description": "Method not allowed. Will be returned if a method other than `GET` or `POST` is utilized. `PUT`, `PATCH` and `DELETE` methods are not supported."
                  }
              }
          },
          "post": {
              "summary": "Retrieve Bible quotes by reference (book - chapter - verse)",
              "description": "The API endpoint from which one can retrieve Bible quotes by reference (book - chapter - verse)",
              "operationId": "getVersesByPOST",
              "tags": ["MainAPI"],
              "requestBody": {
                  "content": {
                      "application/x-www-form-urlencoded": {
                          "schema": {
                            "$ref": "#/components/schemas/BibleQuotePOST"
                          },
                          "encoding": {
                              "version": {
                                  "style": "form",
                                  "explode": false
                              }
                          }
                      },
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/BibleQuotePOST"
                        },
                        "examples": {
                          "SimpleRequest": {
                            "value": {
                              "query": "John3:16",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestVerseRange": {
                            "value": {
                              "query": "1Corinthians13:4-8",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestDiscontinuousVerses": {
                            "value": {
                              "query": "1Corinthians13:4,8",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestVerseRangeAndDiscontinuousVerse": {
                            "value": {
                              "query": "1Corinthians13:4-8,13",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestDiscontinousVerseRanges": {
                            "value": {
                              "query": "1Corinthians13:4-8,11-12",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestMultipleChaptersSameBook": {
                            "value": {
                              "query": "1Corinthians13:4-8;14:1",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestMultipleBooks": {
                            "value": {
                              "query": "John3:16;1John4:7-8",
                              "version": "NABRE",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestMultipleVersions": {
                            "value": {
                              "query": "John3:16",
                              "version": "NABRE,DRB",
                              "appid": "swaggerhub"
                            }
                          },
                          "RequestGreekOrigin": {
                            "value": {
                              "query": "Esther1:1",
                              "version": "NABRE",
                              "appid": "swaggerhub",
                              "preferorigin": "GREEK"
                            }
                          },
                          "RequestHebrewOrigin": {
                            "value": {
                              "query": "Esther1:1",
                              "version": "NABRE",
                              "appid": "swaggerhub",
                              "preferorigin": "HEBREW"
                            }
                          },
                          "RequestEuropeanFormat": {
                            "value": {
                              "query": "Giovanni3,16;1Gv4,7-8",
                              "version": "CEI2008",
                              "appid": "swaggerhub"
                            }
                          }
                        }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Structured data containing the Bible verses requested and all associated information",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/BibleQuoteResponseJSON"
                              }
                          },
                          "application/xml": {
                              "schema": {
                                  "$ref": "#/components/schemas/BibleQuoteResponseXML"
                              }
                          },
                          "text/html": {
                              "schema": {
                                  "$ref": "#/components/schemas/MainAPIHtmlResponse"
                              }
                          }
                      }
                  },
                  "415": {
                      "description": "Unsupported media type. Will be returned if a content type other than `application/json`,`application/xml` or `text/html` is requested."
                  },
                  "400": {
                      "description": "Bad request. Will be returned for example if a content type of `application/json` was set in the request, but no JSON data or malformed JSON data was sent in the body of the request."
                  },
                  "405": {
                      "description": "Method not allowed. Will be returned if a method other than `GET` or `POST` is utilized. `PUT`, `PATCH` and `DELETE` methods are not supported."
                  }
              }
          }
      },
      "/metadata.php": {
          "get": {
              "summary": "Retrieve metadata about Bible versions that are available and their relative book/chapter/verse indexes",
              "description": "The API endpoint for querying metadata such as Bible versions that are available and their relative book/chapter/verse indexes. **N.B. Applications or plugins should CACHE the information returned by the METADATA endpoint. This data does not change often, there is no need to request it for every Bible quote requested from the main API endpoint. It can be a good idea to refresh this information about, let's say once a month, or create a user interface with a button that will allow the end user to refresh the information from the server if they think the cached information might be old.**",
              "operationId": "getMetadataByGET",
              "tags": ["MetadataAPI"],
              "parameters": [
                  {
                      "name": "query",
                      "in": "query",
                      "description": "Specifies the subset of metadata to retrieve. **`biblebooks`**: retrieve the list of valid **book names** and **abbreviations** in various languages that are currently supported / recognized by the main BibleGet API endpoint. **`bibleversions`**: retrieve the list of **Bible versions** that are currently supported by the main BibleGet API endpoint. **`versionindex`**: retrieve the **indices of chapters and verses** for any of the Bible versions currently supported by the BibleGet engine (this value requires the usage of a second parameter `versions`).",
                      "required": true,
                      "schema": {
                          "type": "string",
                          "enum": [
                              "biblebooks",
                              "bibleversions",
                              "versionindex"
                          ]
                      },
                      "examples": {
                          "biblebooks": {
                              "summary": "Retrieve the list of valid book names and abbreviations in various languages that are currently supported / recognized by the main BibleGet API endpoint",
                              "value": "biblebooks"
                          },
                          "bibleversions": {
                              "summary": "Retrieve the list of Bible versions that are currently supported by the main BibleGet API endpoint.",
                              "value": "bibleversions"
                          },
                          "versionindex": {
                              "summary": "Retrieve the **indices of chapters and verses** for any of the Bible versions currently supported by the BibleGet engine. Requires the usage of a second parameter `versions`.",
                              "value": "versionindex"
                          }
                      }
                  },
                  {
                      "name": "versions",
                      "in": "query",
                      "description": "*(required in the case of a `query=versionindex` request)* Indicates for which Bible versions the indices data should be returned. The acronyms for valid Bible versions as returned by `query=bibleversions` should be used, either as a single string value or as a comma separated list of values.",
                      "required": false,
                      "schema": {
                          "type": "array",
                          "items": {
                              "type": "string"
                          },
                          "default": ["CEI2008"]
                      },
                      "style": "form",
                      "explode": false,
                      "examples": {
                          "singleVersion": {
                              "summary": "Single Bible version",
                              "value": ["NABRE"]
                          },
                          "multipleVersions": {
                              "summary": "Multiple Bible versions",
                              "value": ["NABRE","NVBSE"]
                          }
                      }
                  },
                  {
                      "name": "return",
                      "in": "query",
                      "description": "Type of data that should be returned in the response",
                      "required": false,
                      "schema": {
                          "type": "string",
                          "enum": [
                              "json",
                              "xml",
                              "html"
                          ],
                          "default": "json"
                      },
                      "examples": {
                          "json": {
                              "summary": "Request that the data be returned in JSON format",
                              "value": "json"
                          },
                          "xml": {
                              "summary": "Request that the data be returned in XML format",
                              "value": "xml"
                          },
                          "html": {
                              "summary": "Request that the data be returned in HTML format",
                              "value": "html"
                          }
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "Structured data containing the required metadata about either Bible versions available, Bible version indexes, or the names and abbreviations of Bible books for any given Bible version",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/MetadataBibleVersions" },
                                      { "$ref": "#/components/schemas/MetadataBibleBooks" },
                                      { "$ref": "#/components/schemas/MetadataVersionIndex" }
                                  ]
                              }
                          },
                          "application/xml": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/MetadataBibleVersionsXML" },
                                      { "$ref": "#/components/schemas/MetadataBibleBooks" },
                                      { "$ref": "#/components/schemas/MetadataVersionIndex" }
                                  ]
                              }
                          },
                          "text/html": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/MetadataBibleVersionsHTML" },
                                      { "$ref": "#/components/schemas/MetadataBibleBooksHTML" },
                                      { "$ref": "#/components/schemas/MetadataVersionIndexHTML" }
                                  ]
                              }
                          }
                      }
                  },
                  "415": {
                      "description": "Unsupported media type. Will be returned if a content type other than `application/json`,`application/xml` or `text/html` is requested."
                  },
                  "400": {
                      "description": "Bad request. Will be returned for example if a content type of `application/json` was set in the request, but no JSON data or malformed JSON data was sent in the body of the request."
                  },
                  "405": {
                      "description": "Method not allowed. Will be returned if a method other than `GET` or `POST` is utilized. `PUT`, `PATCH` and `DELETE` methods are not supported."
                  }
              }
          },
          "post": {
              "summary": "Retrieve metadata about Bible versions that are available and their relative book/chapter/verse indexes",
              "description": "The API endpoint for querying metadata such as Bible versions that are available and their relative book/chapter/verse indexes",
              "operationId": "getMetadataByPOST",
              "tags": ["MetadataAPI"],
              "requestBody": {
                  "content": {
                      "application/x-www-form-urlencoded": {
                          "schema": {
                              "$ref": "#/components/schemas/MetadataPOST"
                          },
                          "encoding": {
                              "versions": {
                                  "style": "form",
                                  "explode": false
                              }
                          }
                      },
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/MetadataPOST"
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "Structured data containing the required metadata about either Bible versions available, Bible version indexes, or the names and abbreviations of Bible books for any given Bible version",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/MetadataBibleVersions" },
                                      { "$ref": "#/components/schemas/MetadataBibleBooks" },
                                      { "$ref": "#/components/schemas/MetadataVersionIndex" }
                                  ]
                              }
                          },
                          "application/xml": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/MetadataBibleVersionsXML" },
                                      { "$ref": "#/components/schemas/MetadataBibleBooks" },
                                      { "$ref": "#/components/schemas/MetadataVersionIndex" }
                                  ]
                              }
                          },
                          "text/html": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/MetadataBibleVersionsHTML" },
                                      { "$ref": "#/components/schemas/MetadataBibleBooksHTML" },
                                      { "$ref": "#/components/schemas/MetadataVersionIndexHTML" }
                                  ]
                              }
                          }
                      }
                  },
                  "415": {
                      "description": "Unsupported media type. Will be returned if a content type other than `application/json`,`application/xml` or `text/html` is requested."
                  },
                  "400": {
                      "description": "Bad request. Will be returned for example if a content type of `application/json` was set in the request, but no JSON data or malformed JSON data was sent in the body of the request."
                  },
                  "405": {
                      "description": "Method not allowed. Will be returned if a method other than `GET` or `POST` is utilized. `PUT`, `PATCH` and `DELETE` methods are not supported."
                  }
              }
          }
      },
      "/search.php": {
          "get": {
              "summary": "Search for Bible verses that contain a given keyword. In the future, search by topic may also be implemented.",
              "description": "The API endpoint for performing search queries for Bible verses by keyword (or topic).",
              "operationId": "searchVersesByGET",
              "tags": ["SearchAPI"],
              "parameters": [
                  {
                      "name": "query",
                      "in": "query",
                      "description": "Specifies the kind of search to perform. As of v3.0 of the search API only a value of `keywordsearch` is available.",
                      "required": true,
                      "schema": {
                          "type": "string",
                          "enum": [
                              "keywordsearch"
                          ]
                      },
                      "examples": {
                          "keywordsearch": {
                              "summary": "Perfom a search for Bible verses that contain the indicated keyword. Requires the usage of a second parameter: keyword. As of v2.8 of the search API endpoint, Search by topic is not yet available.",
                              "value": "keywordsearch"
                          }
                      }
                  },
                  {
                      "name": "keyword",
                      "in": "query",
                      "description": "*(required when making a request where `query=keywordsearch`)* indicates the keyword that will be searched in the text of the Bible verses",
                      "schema": {
                          "type": "string"
                      },
                      "examples": {
                          "creation": {
                              "summary": "Perform a search for Bible verses that contain the keyword 'creation'.",
                              "value": "creation"
                          }
                      }
                  },
                  {
                      "name": "version",
                      "in": "query",
                      "description": "The acronym of the Bible version within which to perform the search by keyword. Can only be a single value, not a comma delimited list of values.",
                      "required": true,
                      "schema": {
                          "type": "string"
                      },
                      "examples": {
                          "NABRE": {
                              "summary": "perform a search for Bible verses containing a given keyword in the *NABRE* Bible version.",
                              "value": "NABRE"
                          },
                          "NVBSE": {
                              "summary": "perform a search for Bible verses containing a given keyword in the *NVBSE* Bible version.",
                              "value": "NVBSE"
                          }
                      }
                  },
                  {
                      "name": "exactmatch",
                      "in": "query",
                      "description": "since the default behaviour for a keyword search is to find any word of 4 or more letters which matches or contains the keyword, this option will try to find only exact matches and will also allow to search for words of even only 3 letters (parts of speech excluded)",
                      "required": false,
                      "schema": {
                          "type": "boolean"
                      },
                      "examples": {
                          "true": {
                            "summary": "find only exact matches of words that are made up of 3 or more letters (parts of speech excluded)",
                            "value": "true"
                          },
                          "false": {
                            "summary": "find both exact and partial matches of words made up of 4 or more letters",
                            "value": "false"
                          }
                      }
                  },
                  {
                      "name": "return",
                      "in": "query",
                      "description": "Type of data that should be returned in the response",
                      "required": false,
                      "schema": {
                          "type": "string",
                          "enum": [
                              "json",
                              "xml",
                              "html"
                          ],
                          "default": "json"
                      },
                      "examples": {
                        "json": {
                          "summary": "Request that the data be returned in JSON format",
                          "value": "json"
                        },
                        "xml": {
                          "summary": "Request that the data be returned in XML format",
                          "value": "xml"
                        },
                        "html": {
                          "summary": "Request that the data be returned in HTML format",
                          "value": "html"
                        }
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/KeywordSearchResponseJSON" }
                                  ]
                              }
                          },
                          "application/xml": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/KeywordSearchResponseXML" }
                                  ]
                              }
                          },
                          "application/html": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/KeywordSearchResponseHTML" }
                                  ]
                              }
                          }
                      }
                  },
                  "415": {
                      "description": "Unsupported media type. Will be returned if a content type other than `application/json`,`application/xml` or `text/html` is requested."
                  },
                  "400": {
                      "description": "Bad request. Will be returned for example if a content type of `application/json` was set in the request, but no JSON data or malformed JSON data was sent in the body of the request."
                  },
                  "405": {
                      "description": "Method not allowed. Will be returned if a method other than `GET` or `POST` is utilized. `PUT`, `PATCH` and `DELETE` methods are not supported."
                  }
              }                
          },
          "post": {
              "summary": "Search for Bible verses that contain a given keyword. In the future, search by topic may also be implemented.",
              "description": "The API endpoint for performing search queries for Bible verses by keyword (or topic).",
              "operationId": "searchVersesByPOST",
              "tags": ["SearchAPI"],
              "requestBody": {
                  "content": {
                      "application/x-www-form-urlencoded": {
                          "schema": {
                              "$ref": "#/components/schemas/KeywordSearchPOST"
                          }
                      },
                      "application/json": {
                          "schema": {
                              "$ref": "#/components/schemas/KeywordSearchPOST"
                          }
                      }
                  }
              },
              "responses": {
                  "200": {
                      "description": "",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/KeywordSearchResponseJSON" }
                                  ]
                              }
                          },
                          "application/xml": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/KeywordSearchResponseXML" }
                                  ]
                              }
                          },
                          "application/html": {
                              "schema": {
                                  "oneOf": [
                                      { "$ref": "#/components/schemas/KeywordSearchResponseHTML" }
                                  ]
                              }
                          }
                      }
                  },
                  "415": {
                      "description": "Unsupported media type. Will be returned if a content type other than `application/json`,`application/xml` or `text/html` is requested."
                  },
                  "400": {
                      "description": "Bad request. Will be returned for example if a content type of `application/json` was set in the request, but no JSON data or malformed JSON data was sent in the body of the request."
                  },
                  "405": {
                      "description": "Method not allowed. Will be returned if a method other than `GET` or `POST` is utilized. `PUT`, `PATCH` and `DELETE` methods are not supported."
                  }
              }
          }
      }
  },
  "components": {
      "schemas": {
          "BibleQuotePOST": {
              "type": "object",
              "properties": {
                  "query": {
                      "type": "string",
                      "description": "Bible reference using standard Bible citation notation.",
                      "example": "Genesis1:1-10"
                  },
                  "version": {
                      "type": "array",
                      "description": "Bible version or versions from which to retrieve the Bible quote. A list of valid versions can be retrieved from the `metadata.php` API using `query=bibleversions`",
                      "items": {
                          "type": "string"
                      },
                      "example": [
                          "NABRE",
                          "NVBSE"
                      ]
                  },
                  "return": {
                      "type": "string",
                      "description": "Desired content type for the response data. An `Accept` header can be used instead, and should be preferred to using the `return` parameter / property",
                      "enum": [
                          "json",
                          "xml",
                          "html"
                      ],
                      "example": "json",
                      "default": "json"
                  },
                  "appid": {
                      "type": "string",
                      "description": "Unique identifier of the application making the request, to be agreed upon with the owner of the API endpoint",
                      "example": "swaggerhub"
                  },
                  "pluginversion": {
                      "type": "string",
                      "description": "Version number of the application making the request. Useful not only for statistics, to help understand which version of an application is being actively used, but also (especially in the case of the official applications) to help deal with possibly breaking changes between the application version and versions of the API endpoint",
                      "example": "v1.0"
                  },
                  "domain": {
                      "type": "string",
                      "description": "In the case of web based applications, should indicate the domain from which the request is generated. Currently used by the official plugin for WordPress to better understand usage of the plugin and monitor requests. When the application or plugin making the request can be installed on different domains (as is the case with the WordPress plugin), this value should be generated dynamically from a server variable identifying the domain. If instead it will always be the same domain making the requests, the value can be hardcoded with the actual domain.",
                      "example": "app.swaggerhub.com"
                  },
                  "preferorigin": {
                      "type": "string",
                      "description": "whether to retrieve Bible verses that are based on the GREEK original text or on the HEBREW original text, when there are multiple possibilities. This occurs generally in Catholic versions of the Bible for certain Books and chapters (e.g. Esther)",
                      "enum": [
                        "GREEK",
                        "HEBREW"
                      ],
                      "example": "GREEK"
                  }
              },
              "required": [
                  "query",
                  "version",
                  "appid"
              ]
            
          },
          "BibleQuoteResponseJSON": {
              "type": "object",
              "properties": {
                  "results": {
                      "type": "array",
                      "description": "Array of objects each of which represents a Bible verse with all associated information",
                      "items": {
                          "type": "object",
                          "properties": {
                              "testament": {
                                  "type": "integer",
                                  "enum": [
                                      1,
                                      2
                                  ],
                                  "description": "`1` = *Old Testament*, `2` = *New Testament*",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": 2
                              },
                              "section": {
                                  "type": "integer",
                                  "enum": [
                                      1,
                                      2,
                                      3,
                                      4,
                                      5,
                                      6,
                                      7,
                                      8,
                                      9
                                  ],
                                  "description": "`1` = *Pentateuch*, `2` = *Historical Books*, `3` = *Wisdom Books*, `4` = *Prophets*, `5` = *Gospels*, `6` = *Acts of the Apostles*, `7` = *Letters of Saint Paul*, `8` = *Catholic Letters*, `9` = *Apocalypse*",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": 8
                              },
                              "book": {
                                  "type": "string",
                                  "description": "Name of the book of the Bible in the language of the Bible version being quoted from",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": "1John"
                              },
                              "bookabbrev": {
                                  "type": "string",
                                  "description": "Abbreviated form of the book of the Bible in the language of the Bible version being quoted from",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": "1Jn"
                              },
                              "booknum": {
                                  "type": "integer",
                                  "description": "0 based index of the Book of the Bible in the Bible version being quoted from (not all versions have the same books in the same order, especially when considering differences between Catholic and evangelical versions). The value is returned as a number value ready to be used against index information for the Bible version being quoted from. The corresponding name of the Book of the Bible as used in the printed edition of the current Bible version can be retrieved using the `metadata.php` API endpoint, as can index information about the number of chapters in the book and the number of verses in each chapter.",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": 68
                              },
                              "univbooknum": {
                                  "type": "string",
                                  "description": "A number identifying the Book of the Bible according to the universally recognized Catholic version of the Canon of the Sacred Scriptures (*i.e. universally recognized by the Roman Catholic Church*). This is not a 0 based index, but rather `1` = *Genesis*, `2` = *Exodus*, etc. Therefore it is returned as a string, but can be treated as a number.",
                                  "enum": [
                                      "1",
                                      "2",
                                      "3",
                                      "4",
                                      "5",
                                      "6",
                                      "7",
                                      "8",
                                      "9",
                                      "10",
                                      "11",
                                      "12",
                                      "13",
                                      "14",
                                      "15",
                                      "16",
                                      "17",
                                      "18",
                                      "19",
                                      "20",
                                      "21",
                                      "22",
                                      "23",
                                      "24",
                                      "25",
                                      "26",
                                      "27",
                                      "28",
                                      "29",
                                      "30",
                                      "31",
                                      "32",
                                      "33",
                                      "34",
                                      "35",
                                      "36",
                                      "37",
                                      "38",
                                      "39",
                                      "40",
                                      "41",
                                      "42",
                                      "43",
                                      "44",
                                      "45",
                                      "46",
                                      "47",
                                      "48",
                                      "49",
                                      "50",
                                      "51",
                                      "52",
                                      "53",
                                      "54",
                                      "55",
                                      "56",
                                      "57",
                                      "58",
                                      "59",
                                      "60",
                                      "61",
                                      "62",
                                      "63",
                                      "64",
                                      "65",
                                      "66",
                                      "67",
                                      "68",
                                      "69",
                                      "70",
                                      "71",
                                      "72",
                                      "73"
                                  ],
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": "69"
                              },
                              "chapter": {
                                  "type": "integer",
                                  "description": "Chapter of the book of the Bible in the Bible version that the verse is being quoted from",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": 4
                              },
                              "versedescr": {
                                  "type": "string",
                                  "description": "Not currently used, comes back as a `null` value. Could possible be used in the future for scholarly notes associated with a Bible verse",
                                  "nullable": true,
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": null
                              },
                              "verse": {
                                  "type": "string",
                                  "description": "Verse Number of the verse being quoted. *N.B. this is returned as a string because it will not always necessarily be a number value, there are verses that have letters in them. The value must be treated as a string and not as a number.*",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": "7"
                              },
                              "verseequiv": {
                                  "type": "integer",
                                  "description": "I'm not actually sure if this is currently being used or not, I believe the idea was to have a number value for those verses that have a letter in the verse number... Will mostly return a `null` value.",
                                  "nullable": true,
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": null
                              },
                              "text": {
                                  "type": "string",
                                  "description": "Contains the actual text of the verse being quoted. May contain `newline` characters that may need to be dealt with. The **NABRE** version will contain ***it's own formatting tags that need to be dealt with***, whether that means producing the proper formatting associated with these tags, or removing them to have a basic formatting. The legal requirements for usage of the NABRE version require the proper formatting to be used where possible. Please [contact the project author](mailto:admin@bibleget.io) for information on how to deal with these tags and their formatting.",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": " Beloved, let us love one another, because love is of God; everyone who loves is begotten by God and knows God. "
                              },
                              "version": {
                                  "type": "string",
                                  "description": "the acronym of the Bible version being quoted from. For data associated with any given Bible version, for example index information, the `metadata.php` API endpoint can be used",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": "NABRE"
                              },
                              "title1": {
                                  "type": "string",
                                  "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any first-level title text preceding the given verse in the version of the Bible being quoted from.",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": ""
                              },
                              "title2": {
                                  "type": "string",
                                  "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any second-level title text preceding the given verse in the version of the Bible being quoted from.",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": ""
                              },
                              "title3": {
                                  "type": "string",
                                  "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any third-level title text preceding the given verse in the version of the Bible being quoted from.",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": ""
                              },
                              "originalquery": {
                                  "type": "string",
                                  "description": "The original query (Bible reference indicated in the `query` parameter of the sent request) that the endpoint received, which produced this result. Will always be returned in EUROPEAN notation, even if the original query was actually in ENGLISH notation.",
                                  "xml": {
                                      "attribute": true
                                  },
                                  "example": "1John4,7-8"
                              }
                          }
                      },
                      "xml": {
                          "wrapped": true,
                          "name": "results"
                      }
                  },
                  "errors": {
                      "type": "array",
                      "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter, a bad value for the `version` parameter, or an API server error",
                      "items": {
                          "type": "string"
                      }
                  },
                  "info": {
                      "type": "object",
                      "description": "An object containing metadata about the API endpoint",
                      "properties": {
                          "ENDPOINT_VERSION": {
                              "type": "string",
                              "example": "3.0"
                          },
                          "detectedNotation": {
                              "type": "string",
                              "enum": [
                                "ENGLISH",
                                "EUROPEAN",
                                "MIXED"
                              ],
                              "description": "Feedback on the type of Bible quotation notation that the endpoint engine detected in the request. `ENGLISH` and `EUROPEAN` are valid values. `MIXED` means that the engine cannot detect a definite notation, and will most probably be accompanied by an error message.",
                              "example": "ENGLISH"
                          },
                          "bibleVersionsInfo": {
                              "type": "object",
                              "description": "key-value pairs where the keys will be the abbreviated form of the requested Bible versions, and the values will be a pipe separated list containing information about the relative Bible version. Splitting this list will give these values: <ol><li>Bible version fullname</li><li>Year in which the edition was published</li><li>Language</li><li>Whether the Bible version has an imprimatur</li><li>Canon of the Scriptures for this Bible version (can have a value of `CATHOLIC` or `PROTESTANT`)</li><li>Copyright holder for this edition</li><li>Notes about this Bible edition</li>",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "example": { "NABRE" : "New American Bible - Revised Edition|2011|en|1|CATHOLIC|United States Conference of Catholic Bishops|" }
                          }
                      }
                  }
              }
          },
          "BibleQuoteResponseXML": {
              "type": "object",
              "properties": {
                  "results": {
                      "type": "array",
                      "description": "Array of objects each of which represents a Bible verse with all associated information",
                      "items": {
                          "$ref": "#/components/schemas/BibleQuoteResult"
                      },
                      "xml": {
                          "name": "results",
                          "wrapped": true
                      }
                  },
                  "errors": {
                      "type": "array",
                      "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter, an unsupported value for the `version` parameter, or an API server error",
                      "items": {
                          "type": "string"
                      }
                  },
                  "info": {
                      "type": "object",
                      "description": "An object containing metadata about the API endpoint",
                      "properties": {
                          "ENDPOINT_VERSION": {
                              "type": "string",
                              "description": "Version of the endpoint being interrogated",
                              "xml": {
                                  "attribute": true
                              },
                              "example": "3.0"
                          },
                          "detectedNotation": {
                              "type": "string",
                              "enum": [
                                "ENGLISH",
                                "EUROPEAN",
                                "MIXED"
                              ],
                              "description": "Feedback on the type of Bible quotation notation that the endpoint engine detected in the request. `ENGLISH` and `EUROPEAN` are valid values. `MIXED` means that the engine cannot detect a definite notation, and will most probably be accompanied by an error message.",
                              "xml": {
                                  "attribute": true
                              }
                          },
                          "bibleVersionsInfo": {
                              "type": "string",
                              "description": "JSON encoded string, representing key - value pairs in which the keys are the abbreviated names of the Bible versions that were requested, and the values are pipe separated lists of information about the Bible version requested. Splitting this list will give these values: <ol><li>Bible version fullname</li><li>Year in which the edition was published</li><li>Language</li><li>Whether the Bible version has an imprimatur</li><li>Canon of the Scriptures for this Bible version (can have a value of `CATHOLIC` or `PROTESTANT`)</li><li>Copyright holder for this edition</li><li>Notes about this Bible edition</li>",
                              "xml": {
                                  "attribute": true
                              },
                              "example": "{\"NABRE\":\"New American Bible - Revised Edition|2011|en|1|CATHOLIC|United States Conference of Catholic Bishops|\"}"
                          }
                      }
                  }
              },
              "xml": {
                  "name": "BibleQuote"
              }
          },
          "BibleQuoteResult": {
              "type": "object",
              "properties": {
                  "testament": {
                      "type": "integer",
                      "enum": [
                          1,
                          2
                      ],
                      "description": "`1` = *Old Testament*, `2` = *New Testament*",
                      "xml": {
                          "attribute": true
                      },
                      "example": 2
                  },
                  "section": {
                      "type": "integer",
                      "enum": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8,
                          9
                      ],
                      "description": "`1` = *Pentateuch*, `2` = *Historical Books*, `3` = *Wisdom Books*, `4` = *Prophets*, `5` = *Gospels*, `6` = *Acts of the Apostles*, `7` = *Letters of Saint Paul*, `8` = *Catholic Letters*, `9` = *Apocalypse*",
                      "xml": {
                          "attribute": true
                      },
                      "example": 8
                  },
                  "book": {
                      "type": "string",
                      "description": "Name of the book of the Bible in the language of the Bible version being quoted from",
                      "xml": {
                          "attribute": true
                      },
                      "example": "1John"
                  },
                  "bookabbrev": {
                      "type": "string",
                      "description": "Abbreviated form of the book of the Bible in the language of the Bible version being quoted from",
                      "xml": {
                          "attribute": true
                      },
                      "example": "1Jn"
                  },
                  "booknum": {
                      "type": "integer",
                      "description": "0 based index of the Book of the Bible in the Bible version being quoted from (not all versions have the same books in the same order, especially when considering differences between Catholic and evangelical versions). The value is returned as a number value ready to be used against index information for the Bible version being quoted from. The corresponding name of the Book of the Bible as used in the printed edition of the current Bible version can be retrieved using the `metadata.php` API endpoint, as can index information about the number of chapters in the book and the number of verses in each chapter.",
                      "xml": {
                          "attribute": true
                      },
                      "example": 68
                  },
                  "univbooknum": {
                      "type": "string",
                      "description": "A number identifying the Book of the Bible according to the universally recognized Catholic version of the Canon of the Sacred Scriptures (*i.e. universally recognized by the Roman Catholic Church*). This is not a 0 based index, but rather `1` = *Genesis*, `2` = *Exodus*, etc. Therefore it is returned as a string, but can be treated as a number.",
                      "enum": [
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13",
                          "14",
                          "15",
                          "16",
                          "17",
                          "18",
                          "19",
                          "20",
                          "21",
                          "22",
                          "23",
                          "24",
                          "25",
                          "26",
                          "27",
                          "28",
                          "29",
                          "30",
                          "31",
                          "32",
                          "33",
                          "34",
                          "35",
                          "36",
                          "37",
                          "38",
                          "39",
                          "40",
                          "41",
                          "42",
                          "43",
                          "44",
                          "45",
                          "46",
                          "47",
                          "48",
                          "49",
                          "50",
                          "51",
                          "52",
                          "53",
                          "54",
                          "55",
                          "56",
                          "57",
                          "58",
                          "59",
                          "60",
                          "61",
                          "62",
                          "63",
                          "64",
                          "65",
                          "66",
                          "67",
                          "68",
                          "69",
                          "70",
                          "71",
                          "72",
                          "73"
                      ],
                      "xml": {
                          "attribute": true
                      },
                      "example": "69"
                  },
                  "chapter": {
                      "type": "integer",
                      "description": "Chapter of the book of the Bible in the Bible version that the verse is being quoted from",
                      "xml": {
                          "attribute": true
                      },
                      "example": 4
                  },
                  "versedescr": {
                      "type": "string",
                      "description": "Not currently used, comes back as a `null` value. Could possible be used in the future for scholarly notes associated with a Bible verse",
                      "nullable": true,
                      "xml": {
                          "attribute": true
                      }
                  },
                  "verse": {
                      "type": "string",
                      "description": "Verse Number of the verse being quoted. *N.B. this is returned as a string because it will not always necessarily be a number value, there are verses that have letters in them. The value must be treated as a string and not as a number.*",
                      "xml": {
                          "attribute": true
                      },
                      "example": "7"
                  },
                  "verseequiv": {
                      "type": "integer",
                      "description": "I'm not actually sure if this is currently being used or not, I believe the idea was to have a number value for those verses that have a letter in the verse number... Will mostly return a `null` value.",
                      "nullable": true,
                      "xml": {
                          "attribute": true
                      },
                      "example": ""
                  },
                  "text": {
                      "type": "string",
                      "description": "Contains the actual text of the verse being quoted. May contain `newline` characters that may need to be dealt with. The **NABRE** version will contain ***it's own formatting tags that need to be dealt with***, whether that means producing the proper formatting associated with these tags, or removing them to have a basic formatting. The legal requirements for usage of the NABRE version require the proper formatting to be used where possible. Please [contact the project author](mailto:admin@bibleget.io) for information on how to deal with these tags and their formatting.",
                      "xml": {
                          "attribute": true
                      },
                      "example": " Beloved, let us love one another, because love is of God; everyone who loves is begotten by God and knows God. "
                  },
                  "version": {
                      "type": "string",
                      "description": "the acronym of the Bible version being quoted from. For data associated with any given Bible version, for example index information, the `metadata.php` API endpoint can be used",
                      "xml": {
                          "attribute": true
                      },
                      "example": "NABRE"
                  },
                  "title1": {
                      "type": "string",
                      "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any first-level title text preceding the given verse in the version of the Bible being quoted from.",
                      "xml": {
                          "attribute": true
                      },
                      "example": ""
                  },
                  "title2": {
                      "type": "string",
                      "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any second-level title text preceding the given verse in the version of the Bible being quoted from.",
                      "xml": {
                          "attribute": true
                      },
                      "example": ""
                  },
                  "title3": {
                      "type": "string",
                      "description": "not currently used. The original idea (which may yet be implemented) was for this to contain any third-level title text preceding the given verse in the version of the Bible being quoted from.",
                      "xml": {
                          "attribute": true
                      },
                      "example": ""
                  },
                  "originalquery": {
                      "type": "string",
                      "description": "The original query (Bible reference indicated in the `query` parameter of the sent request) that the endpoint received, which produced this result. Will always be in EUROPEAN notation, even if the actual original query was in ENGLISH notation.",
                      "xml": {
                          "attribute": true
                      },
                      "example": "1John4,7-8"
                  }
              },
              "xml": {
                  "name": "result"
              }
          },
          "MetadataBibleVersions": {
              "type": "object",
              "properties": {
                  "validversions": {
                      "type": "array",
                      "description": "An array of the acronyms of the Bible versions that are currently supported by the main BibleGet API endpoint",
                      "items": {
                          "type": "string"
                      }
                  },
                  "validversions_fullname": {
                      "type": "object",
                      "description": "An object the keys of which are the acronyms of the Bible versions that are currently supported by the main BibleGet API endpoint, and the values of which are a pipe separated list of 1. The full name of the Bible version 2. The year it was published 3. The two letter ISO 639-1 code of the **language** of the Bible version",
                      "additionalProperties": {
                          "type": "string"
                      }
                  },
                  "copyrightversions": {
                      "type": "array",
                      "description": "An array containing the acronyms of Bible versions that have a copyright holder, the usage of which is regulated under a legally binding agreement with the copyright holder. For example, some copyright holders (usually Episcopal Conferences for Catholic versions) may request that no more than a certain number of verses be issued from a single request to the endpoint (in other words, please don't try to copy the whole Bible through the BibleGet endpoint!). Enforcement of the usage required by the copyright holder is done by the endpoint itself, so applications cannot overcome these limits. If the owner of the endpoint notices that an application attempts in a sly manner to overcome these limitations, access to the main API endpoint may be denied to the application and authorization mechanisms will be necessarily put in place for usage of the endpoints. We are assuming a model of responsible usage for the time being, but if it becomes necessary access will be restricted and authorization will be required",
                      "items": {
                          "type": "string"
                      }
                  },
                  "errors": {
                      "type": "array",
                      "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter or an API server error",
                      "items": {
                          "type": "string"
                      }
                  },
                  "info": {
                      "type": "object",
                      "description": "An object containing metadata about the API endpoint",
                      "properties": {
                          "ENDPOINT_VERSION": {
                              "type": "string"
                          }
                      }
                  }
              },
              "xml": {
                  "name": "BibleGetMetadata"
              },
              "example": {"results":[],"errors":[],"info":{"ENDPOINT_VERSION":"3.0"},"validversions":["CEI2008","DRB","LUZZI","NABRE","NVBSE","VGCL","BLPD"],"validversions_fullname":{"CEI2008":"Conferenza Episcopale Italiana|2008|it|1|CATHOLIC|Fondazione di Religione “Santi Francesco d’Assisi e Caterina da Siena”|source: https:\/\/www.bibbiaedu.it","DRB":"Douay–Rheims Challoner Revision|1752|en|1|CATHOLIC||The Douay–Rheims is a translation of the Bible from the Latin Vulgate into English made by members of the English College, Douai, in the service of the Catholic Church. The New Testament portion was published in Reims, France, in 1582, in one volume with extensive commentary and notes. The Old Testament portion was published in two volumes twenty-seven years later in 1609 and 1610 by the University of Douai. The Whole Revised and Diligently Compared with the Latin Vulgate by Bishop Richard Challoner 1749-1752\r\nsource: http:\/\/www.gutenberg.org\/ebooks\/1581\r\nsource: http:\/\/catholicbible.online\/","LUZZI":"Riveduta - Luzzi|1924|it|0|PROTESTANT||","NABRE":"New American Bible - Revised Edition|2011|en|1|CATHOLIC|United States Conference of Catholic Bishops|","NVBSE":"Nova Vulgata - Bibliorum Sacrorum Editio|1979|la|1|CATHOLIC||source: http:\/\/www.vatican.va\/archive\/bible\/nova_vulgata\/documents\/nova-vulgata_index_lt.html","VGCL":"Vulgata Clementina|1592|la|1|CATHOLIC||There is a single, definitive Clementine text, namely the Editio Typica published by the Typographus Vaticanus in 1598 under the title \"Biblia Sacra Vulgatæ editionis, Sixti V Pontificis Maximi jussu recognita et edita\". However, the text here has necessarily been derived from later sources, principally that edited by A. Colunga and L. Turrado (La Editorial Católica, Madrid, 1946). For dubious readings, the editions of C. Vercellone (Typis S. Congregationis de Propaganda Fide, Rome, 1861) and M. Hetzenauer (Pustet & Co, 1914) were also consulted. Only the canonical books are included (many printed versions include an appendix with the apocryphal books Oratio Manassæ and Esdræ III and IV).","BLPD":"Libro del Pueblo de Dios|2015|es|1|CATHOLIC|Fundación Palabra de Vida y Editorial Verbo Divino|La Fundación Palabra de Vida se creó para la difusión de “El Libro del Pueblo de Dios. La Biblia”, una traducción que llevó a dos de sus  miembros, los Padres Alfredo Bernardo Trusso y Armando Jorge Levoratti, veintidos años de intenso trabajo. Lógicamente en un tiempo en el cual no había computadoras y las imprentas no tenían la tecnología que tienen hoy en día.\r\nEsta traducción fue aceptada inmediatamente en nuestro país y fue así que la Conferencia Episcopal Argentina la reconoció como texto oficial de la Iglesia. Y no sólo nuestro país, sino también las Conferencias Episcopales de Chile, Paraguay y Uruguay.\r\nAños más tarde del fallecimiento del Padre Trusso, el Padre Levoratti se dedicó a actualizar varias introducciones y notas de este Libro. Y a raíz de esta nueva  versión se puso en contacto con la Editorial Verbo Divino y le cedió sus derechos de la traducción. Por su parte el Padre Trusso había cedido sus derechos a la Fundación.\r\nEl P. Levoratti junto con los otros miembros de la Fundación reunidos con la Editorial Verbo Divino decidieron titularla “La Biblia. Libro del Pueblo de Dios”, para seguir la continuidad de la traducción original. El Padre Levoratti falleció hace ya unos años.\r\nLa edición “El Libro del Pueblo de Dios. La Biblia”, que nos edita la Editorial San Pablo, sigue teniendo vigencia  con las introducciones parciales a los principales capítulos, mientras que en la posterior fueron agregadas a las notas."},"copyrightversions":["CEI2008","NABRE","BLPD"]}
          },
          "MetadataBibleVersionsXML": {
              "type": "object",
              "properties": {
                  "ValidVersions": {
                      "type": "object",
                      "description": "A list of the acronyms of the Bible versions that are currently supported by the main BibleGet API endpoint",
                      "additionalProperties": {
                          "type": "string"
                      },
                      "example": {
                        "CEI2008": "",
                        "DRB": "",
                        "LUZZI": "",
                        "NABRE": "",
                        "NVBSE": "",
                        "VGCL": "",
                        "BLPD": ""
                      }
                  },
                  "ValidVersionsFullname": {
                      "type": "object",
                      "description": "An object the keys of which are the acronyms of the Bible versions that are currently supported by the main BibleGet API endpoint, and the values of which are further properties describing various info about the relative Bible version",
                      "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "Fullname": {
                              "type": "string",
                              "description": "The full name of the Bible version"
                            },
                            "Year": {
                              "type": "string",
                              "description": "Year in which the Bible version was published"
                            },
                            "Language": {
                              "type": "string",
                              "description": "Two letter ISO 639-1 code of the **language** of the Bible version"
                            },
                            "Imprimatur": {
                              "type": "integer",
                              "description": "`0` = no imprimatur, `1` = has imprimatur"
                            },
                            "Canon": {
                              "type": "string",
                              "enum": [
                                "CATHOLIC",
                                "PROTESTANT"
                              ],
                              "description": "Canon of the Scriptures for this Bible version, whether `CATHOLIC` or `PROTESTANT`"
                            },
                            "CopyrightHolder": {
                              "type": "string",
                              "description": "Copyright holder for this Bible version"
                            },
                            "Notes": {
                              "type": "string",
                              "description": "Info about this Bible version. May indicate the source of the Bible text used in the BibleGet project."
                            }
                          }
                      }
                  },
                  "CopyrightVersions": {
                      "type": "array",
                      "description": "An array containing the acronyms of Bible versions that have a copyright holder, the usage of which is regulated under a legally binding agreement with the copyright holder. For example, some copyright holders (usually Episcopal Conferences for Catholic versions) may request that no more than a certain number of verses be issued from a single request to the endpoint (in other words, please don't try to copy the whole Bible through the BibleGet endpoint!). Enforcement of the usage required by the copyright holder is done by the endpoint itself, so applications cannot overcome these limits. If the owner of the endpoint notices that an application attempts in a sly manner to overcome these limitations, access to the main API endpoint may be denied to the application and authorization mechanisms will be necessarily put in place for usage of the endpoints. We are assuming a model of responsible usage for the time being, but if it becomes necessary access will be restricted and authorization will be required",
                      "items": {
                          "type": "string"
                      }
                  },
                  "errors": {
                      "type": "array",
                      "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter or an API server error",
                      "items": {
                          "type": "string"
                      }
                  },
                  "info": {
                      "type": "object",
                      "description": "An object containing metadata about the API endpoint",
                      "properties": {
                          "ENDPOINT_VERSION": {
                              "type": "string"
                          }
                      }
                  }
              },
              "xml": {
                  "name": "BibleGetMetadata"
              }
          },
          "MetadataBibleBooks": {
              "type": "object",
              "properties": {
                  "languages": {
                      "type": "array",
                      "description": "An array indicating the languages supported by the main BibleGet endpoint, for the names of the Books of the Bible. The single languages are returned in the English form, all caps. The implict numbered index of this array will be useful for the data associated with the `results` key.",
                      "items": {
                          "type": "string"
                      }
                  },
                  "results": {
                      "type": "array",
                      "description": "An array containing information about the names of the Bible books that can be used to make queries to the main endpoint. The implict numbered index of this array corresponds with the Bible books universally recognized by the Roman Catholic Church. Bible versions used by evangelicals will generally have a few less Bible books, so the index of reference is the Canon of the Scriptures as recognized by the Roman Catholic Church.",
                      "items": {
                          "$ref": "#/components/schemas/MetadataBibleBooksResult"
                      }
                  },
                  "errors": {
                      "type": "array",
                      "description": "An array of any error messages that may have been generated indicating a badly formed `query` parameter or an API server error",
                      "items": {
                          "type": "string"
                      }
                  },
                  "info": {
                      "type": "object",
                      "description": "An object containing metadata about the API endpoint",
                      "properties": {
                          "ENDPOINT_VERSION": {
                              "type": "string"
                          }
                      }
                  }
              },
              "xml": {
                  "name": "BibleGetMetadata"
              },
              "example": {"results":[[["Genesis","Gen","Genesis"],["Génesis","Gn","Génesis"],["Zanafilla","Gen","Zanafilla"],["","",""],["تكوين","Gen","تكوين"],["創世紀","Gen","創世紀"],["","Gen",""],["Genesis","Gen","Genesis"],["Genesis","Gen","Genesis"],["Genèse","Gen","Genèse"],["Genesis | 1Mose","Gen","Genesis","1Mose"],["Γένεση","Gen","Γένεση"],["1Mózes","Gen","1Mózes"],["Genesi","Gen | Gn | Ge","Genesi","Gen","Gn","Ge"],["創世記","Gen","創世記"],["창세기","창세 | 창","창세기","창세","창"],["Genesis","Gen","Genesis"],["Rodzaju","Rdz","Rodzaju"],["Génesis","Gen","Génesis"],["Geneza","Gen","Geneza"],["Бытие","Быт","Бытие"],["Génesis","Gen | Gén | Gn","Génesis","Gen","Gén","Gn"],["தொடக்க நூல்","Gen","தொடக்கநூல்"],["ปฐมกาล","Gen","ปฐมกาล"],["Sáng Thế","Gen","Sángthế"]],[["Exodus","Ex","Exodus"],["Exodus","Ex","Exodus"],["Eksodi","Ex","Eksodi"],["","",""],["خروج","Ex","خروج"],["出谷紀","Ex","出谷紀"],["","Ex",""],["Exodus","Ex","Exodus"],["Exodo","Exo","Exodo"],["Exode","Ex","Exode"],["Exodus | 2Mose","Ex","Exodus","2Mose"],["Έξοδος","Ex","Έξοδος"],["2Mózes","Ex","2Mózes"],["Esodo","Es","Esodo"],["出エジプト記","Ex","出エジプト記"],["출애굽기 | 탈출기","탈출 | 출","출애굽기","탈출기","탈출","출"],["Exodus","Ex","Exodus"],["Wyjścia","Wj","Wyjścia"],["Êxodo","Ex","Êxodo"],["Exod","Ex","Exod"],["Исход","Исх","Исход"],["Éxodo","Ex | Éx","Éxodo","Ex","Éx"],["விடுதலைப் பயணம்","Ex","விடுதலைப்பயணம்"],["อพยพ","Ex","อพยพ"],["Xuất Hành","Ex","Xuấthành"]],[["Leviticus","Lev | Lv","Leviticus","Lev","Lv"],["Levitikus","Lv","Levitikus"],["Levitiku","Lev | Lv","Levitiku","Lev","Lv"],["","",""],["لاويين","Lev | Lv","لاويين","Lev","Lv"],["肋未紀","Lev | Lv","肋未紀","Lev","Lv"],["","Lev | Lv","","Lev","Lv"],["Levitikus","Lev | Lv","Levitikus","Lev","Lv"],["Levitico","Lev","Levitico"],["Lévitique","Lev | Lv","Lévitique","Lev","Lv"],["Levitikus | 3Mose","Lev | Lv","Levitikus","3Mose","Lev","Lv"],["Λευιτικό","Lev | Lv","Λευιτικό","Lev","Lv"],["3Mózes","Lev | Lv","3Mózes","Lev","Lv"],["Levitico","Lv","Levitico"],["レビ記","Lev | Lv","レビ記","Lev","Lv"],["레위기","레위 | 레","레위기","레위","레"],["Leviticus","Lev | Lv","Leviticus","Lev","Lv"],["Kapłańska","Kpł","Kapłańska"],["Levítico","Lev | Lv","Levítico","Lev","Lv"],["Levitic","Lev | Lv","Levitic","Lev","Lv"],["Левит","Лев","Левит"],["Levítico","Lv | Lev","Levítico","Lv","Lev"],["லேவியர்","Lev | Lv","லேவியர்","Lev","Lv"],["เลวีนิติ","Lev | Lv","เลวีนิติ","Lev","Lv"],["Lêvi","Lev | Lv","Lêvi","Lev","Lv"]],[["Numbers","Num | Nm","Numbers","Num","Nm"],["Númeri","Nm","Númeri"],["Numrat","Num | Nm","Numrat","Num","Nm"],["","",""],["عدد","Num | Nm","عدد","Num","Nm"],["戶籍紀","Num | Nm","戶籍紀","Num","Nm"],["","Num | Nm","","Num","Nm"],["Numeri","Num | Nm","Numeri","Num","Nm"],["Bilang | Mga Bilang","Bil","Bilang","Mgabilang"],["Nombres","Num | Nm","Nombres","Num","Nm"],["Numeri | 4Mose","Num | Nm","Numeri","4Mose","Num","Nm"],["Αριθμοί","Num | Nm","Αριθμοί","Num","Nm"],["4Mózes","Num | Nm","4Mózes","Num","Nm"],["Numeri","Nm","Numeri"],["民数記","Num | Nm","民数記","Num","Nm"],["민수기","민수 | 민","민수기","민수","민"],["Numeri","Num | Nm","Numeri","Num","Nm"],["Liczb","Lb","Liczb"],["Números","Num | Nm","Números","Num","Nm"],["Numeri","Num | Nm","Numeri","Num","Nm"],["Числа","Чис","Числа"],["Números","Nm | Núm","Números","Nm","Núm"],["எண்ணிக்கை","Num | Nm","எண்ணிக்கை","Num","Nm"],["กันดารวิถี","Num | Nm","กันดารวิถี","Num","Nm"],["Dân Số","Num | Nm","Dânsố","Num","Nm"]],[["Deuteronomy","Deut | Dt","Deuteronomy","Deut","Dt"],["Deuteronómium","Dt","Deuteronómium"],["Përtërirë | Ligji i Përtërirë","Deut | Dt","Përtërirë","Ligjiipërtërirë","Deut","Dt"],["","",""],["تثنية","Deut | Dt","تثنية","Deut","Dt"],["申命紀","Deut | Dt","申命紀","Deut","Dt"],["","Deut | Dt","","Deut","Dt"],["Deuteronomium","Deut | Dt","Deuteronomium","Deut","Dt"],["Deuteronomio","Deut","Deuteronomio"],["Deutéronome","Deut | Dt","Deutéronome","Deut","Dt"],["Deuteronomium | 5Mose","Deut | Dt","Deuteronomium","5Mose","Deut","Dt"],["Δευτερονόμιο","Deut | Dt","Δευτερονόμιο","Deut","Dt"],["5Mózes","Deut | Dt","5Mózes","Deut","Dt"],["Deuteronomio","Dt","Deuteronomio"],["申命記","Deut | Dt","申命記","Deut","Dt"],["신명기","신명 | 신","신명기","신명","신"],["Deuteronomii","Deut | Dt","Deuteronomii","Deut","Dt"],["Powtórzonego | Powtórzonego Prawa","Pwt","Powtórzonego","Powtórzonegoprawa"],["Deuteronómio","Deut | Dt","Deuteronómio","Deut","Dt"],["Deuteronom","Deut | Dt","Deuteronom","Deut","Dt"],["Второзаконие","Втор","Второзаконие"],["Deuteronomio","Dt","Deuteronomio"],["இணைச் சட்டம்","Deut | Dt","இணைச்சட்டம்","Deut","Dt"],["เฉลยธรรมบัญญัติ","Deut | Dt","เฉลยธรรมบัญญัติ","Deut","Dt"],["Đệ Nhị Luật","Deut | Dt","Đệnhịluật","Deut","Dt"]],[["Joshua","Josh","Joshua"],["Josua","Js","Josua"],["Jozueu","Josh","Jozueu"],["","",""],["يشوع","Josh","يشوع"],["若蘇厄書","Josh","若蘇厄書"],["","Josh",""],["Jozue","Josh","Jozue"],["Josue","Jos","Josue"],["Josué","Josh","Josué"],["Josua","Josh","Josua"],["Ιησού του Ναυή","Josh","Ιησούτουναυή"],["Józsué","Josh","Józsué"],["Giosue","Gs","Giosue"],["ヨシュア記","Josh","ヨシュア記"],["여호수아","수","여호수아"],["Iosue","Ios | Jos","Iosue","Ios","Jos"],["Jozuego","Joz","Jozuego"],["Josué","Josh","Josué"],["Iosua","Josh","Iosua"],["Иисус Навин","Нав","Иисуснавин"],["Josué","Jos","Josué"],["யோசுவா","Josh","யோசுவா"],["โยชูวา","Josh","โยชูวา"],["Giôsuê","Josh","Giôsuê"]],[["Judges","Jdg | Jgs","Judges","Jdg","Jgs"],["Rigters","Jg","Rigters"],["Gjyqtarët","Jdg | Jgs","Gjyqtarët","Jdg","Jgs"],["","",""],["قضاة","Jdg | Jgs","قضاة","Jdg","Jgs"],["民長紀","Jdg | Jgs","民長紀","Jdg","Jgs"],["","Jdg | Jgs","","Jdg","Jgs"],["Soudců","Jdg | Jgs","Soudců","Jdg","Jgs"],["Hukom | Mga Hukom","Huk","Hukom","Mgahukom"],["Juges","Jdg | Jgs","Juges","Jdg","Jgs"],["Richter","Jdg | Jgs","Richter","Jdg","Jgs"],["Κριτές","Jdg | Jgs","Κριτές","Jdg","Jgs"],["Birák","Jdg | Jgs","Birák","Jdg","Jgs"],["Giudici","Gdc","Giudici"],["士師記","Jdg | Jgs","士師記","Jdg","Jgs"],["사사기 | 판관기","삿","사사기","판관기"],["Iudicum","Iudc | Judc","Iudicum","Iudc","Judc"],["Sędziów","Sdz","Sędziów"],["Juízes","Jdg | Jgs","Juízes","Jdg","Jgs"],["Judecatori","Jdg | Jgs","Judecatori","Jdg","Jgs"],["Книга Судей","Суд","Книгасудей"],["Jueces","Jc | Jue","Jueces","Jc","Jue"],["நீதித் தலைவர்கள்","Jdg | Jgs","நீதித்தலைவர்கள்","Jdg","Jgs"],["ผู้วินิจฉัย","Jdg | Jgs","ผู้วินิจฉัย","Jdg","Jgs"],["Thủ Lãnh","Jdg | Jgs","Thủlãnh","Jdg","Jgs"]],[["Ruth","Ru","Ruth"],["Rut","Rt","Rut"],["Ruthi","Ru","Ruthi"],["","",""],["راعوث","Ru","راعوث"],["盧德紀","Ru","盧德紀"],["","Ru",""],["Rút","Ru","Rút"],["Ruth","Ruth","Ruth"],["Ruth","Ru","Ruth"],["Rut","Ru","Rut"],["Ρουθ","Ru","Ρουθ"],["Ruth","Ru","Ruth"],["Rut","Rt","Rut"],["ルツ記","Ru","ルツ記"],["룻기","룻","룻기"],["Ruth","Ru","Ruth"],["Rut","Rt","Rut"],["Rute","Ru","Rute"],["Rut","Ru","Rut"],["Руфь","Руф","Руфь"],["Rut","Rt","Rut"],["ரூத்து","Ru","ரூத்து"],["นางรูธ","Ru","นางรูธ"],["Rút","Ru","Rút"]],[["1 Samuel","1Sam","1Samuel"],["1 Samuel","1Sm","1Samuel"],["1Samuelit","1Sam","1Samuelit"],["","",""],["1صموئيل","1Sam","1صموئيل"],["撒慕爾紀上","1Sam","撒慕爾紀上"],["","1Sam",""],["1Samuelova","1Sam","1Samuelova"],["1 Samuel","1Sam","1Samuel"],["1Samuel","1Sam","1Samuel"],["1Samuel","1Sam","1Samuel"],["Α Σαμουήλ","1Sam","Ασαμουήλ"],["1Sámuel","1Sam","1Sámuel"],["1Samuele","1Sam","1Samuele"],["サムエル記上","1Sam","サムエル記上"],["사무엘 상","삼상","사무엘상"],["I Samuelis","I Sam","Isamuelis"],["1Samuela","1Sm","1Samuela"],["1 Samuel","1Sam","1Samuel"],["1Samuel","1Sam","1Samuel"],["1Царств","1Цар","1Царств"],["1Samuel","1Sa | 1Sam","1Samuel","1Sa","1Sam"],["1 சாமுவேல்","1Sam","1சாமுவேல்"],["1 ซามูเอล | ซามูเอลฉบับที่หึ่ง","1Sam","1ซามูเอล","ซามูเอลฉบับที่หึ่ง"],["1Samuen","1Sam","1Samuen"]],[["2 Samuel","2Sam","2Samuel"],["2 Samuel","2Sm","2Samuel"],["2Samuelit","2Sam","2Samuelit"],["","",""],["2صموئيل","2Sam","2صموئيل"],["撒慕爾記下","2Sam","撒慕爾記下"],["","2Sam",""],["2Samuelova","2Sam","2Samuelova"],["2 Samuel","2Sam","2Samuel"],["2Samuel","2Sam","2Samuel"],["2Samuel","2Sam","2Samuel"],["Β Σαμουήλ","2Sam","Βσαμουήλ"],["2Sámuel","2Sam","2Sámuel"],["2Samuele","2Sam","2Samuele"],["サムエル記下","2Sam","サムエル記下"],["사무엘 하","삼하","사무엘하"],["II Samuelis","II Sam","Iisamuelis"],["2Samuela","2Sm","2Samuela"],["2 Samuel","2Sam","2Samuel"],["2Samuel","2Sam","2Samuel"],["2Царств","2Цар","2Царств"],["2Samuel","2Sa | 2Sam","2Samuel","2Sa","2Sam"],["2 சாமுவேல்","2Sam","2சாமுவேல்"],["2 ซามูเอล | ซามูเอลฉบับที่สอง","2Sam","2ซามูเอล","ซามูเอลฉบับที่สอง"],["2Samuen","2Sam","2Samuen"]],[["1 Kings","1Kgs","1Kings"],["1 Konings","1Kn","1Konings"],["1Mbretërve","1Kgs","1Mbretërve"],["","",""],["1ملوك","1Kgs","1ملوك"],["列王紀上","1Kgs","列王紀上"],["","1Kgs",""],["1Královská","1Kgs","1Královská"],["1 Hari | 1 Mga Hari","1Ha","1Hari","1Mgahari"],["1Rois","1Kgs","1Rois"],["1Könige","1Kgs","1Könige"],["Α Βασιλέων","1Kgs","Αβασιλέων"],["1Királyok","1Kgs","1Királyok"],["1Re","1Re","1Re"],["列王紀上","1Kgs","列王紀上"],["열왕기 상","왕상","열왕기상"],["I Regum","I Reg","Iregum"],["1Królewska","1Krl","1Królewska"],["1 Reis","1Kgs","1Reis"],["1Imparati","1Kgs","1Imparati"],["3Царств","3Цар","3Царств"],["1Reyes","1Re","1Reyes"],["1 அரசர்கள்","1Kgs","1அரசர்கள்"],["1 พงศ์กษัตริย์ | พงศ์กษัตริย์ฉบับที่หึ่ง","1Kgs","1พงศ์กษัตริย์","พงศ์กษัตริย์ฉบับที่หึ่ง"],["1 Các Vua","1Kgs","1Cácvua"]],[["2 Kings","2Kgs","2Kings"],["2 Konings","2Kn","2Konings"],["2Mbretërve","2Kgs","2Mbretërve"],["","",""],["2ملوك","2Kgs","2ملوك"],["列王紀下","2Kgs","列王紀下"],["","2Kgs",""],["2Královská","2Kgs","2Královská"],["2 Hari | 2 Mga Hari","2Ha","2Hari","2Mgahari"],["2Rois","2Kgs","2Rois"],["2Könige","2Kgs","2Könige"],["Β Βασιλέων","2Kgs","Ββασιλέων"],["2Királyok","2Kgs","2Királyok"],["2Re","2Re","2Re"],["列王紀下","2Kgs","列王紀下"],["열왕기 하","왕하","열왕기하"],["II Regum","II Reg","Iiregum"],["2Królewska","2Krl","2Królewska"],["2 Reis","2Kgs","2Reis"],["2Imparati","2Kgs","2Imparati"],["4Царств","4Цар","4Царств"],["2Reyes","2Re","2Reyes"],["2 அரசர்கள்","2Kgs","2அரசர்கள்"],["2 พงศ์กษัตริย์ | พงศ์กษัตริย์ฉบับที่สอง","2Kgs","2พงศ์กษัตริย์","พงศ์กษัตริย์ฉบับที่สอง"],["2 Các Vua","2Kgs","2Cácvua"]],[["1 Chronicles","1Chron | 1Chr","1Chronicles","1Chron","1Chr"],["1 Kronieke","1Ch","1Kronieke"],["1Kronikave","1Chron | 1Chr","1Kronikave","1Chron","1Chr"],["","",""],["1اخبار","1Chron | 1Chr","1اخبار","1Chron","1Chr"],["編年紀上","1Chron | 1Chr","編年紀上","1Chron","1Chr"],["","1Chron | 1Chr","","1Chron","1Chr"],["1Paralipomenon","1Chron | 1Chr","1Paralipomenon","1Chron","1Chr"],["1 Cronica | 1 Mga Cronica","1Cro","1Cronica","1Mgacronica"],["1Chroniques","1Chron | 1Chr","1Chroniques","1Chron","1Chr"],["1Chronik","1Chron | 1Chr","1Chronik","1Chron","1Chr"],["Α Χρονικών","1Chron | 1Chr","Αχρονικών","1Chron","1Chr"],["1Krónika","1Chron | 1Chr","1Krónika","1Chron","1Chr"],["1Cronache","1Cr","1Cronache"],["歴代志上","1Chron | 1Chr","歴代志上","1Chron","1Chr"],["역대상 | 역대기 상","대상","역대상","역대기상"],["I Paralipomenon","I Paral","Iparalipomenon"],["1Kronik","1Krn","1Kronik"],["1 Crónicas","1Chron | 1Chr","1Crónicas","1Chron","1Chr"],["1Cronici","1Chron | 1Chr","1Cronici","1Chron","1Chr"],["1Паралипоменон","1Пар","1Паралипоменон"],["1Crónicas","1Cro | 1Crón","1Crónicas","1Cro","1Crón"],["1 குறிப்பேடு","1Chron | 1Chr","1குறிப்பேடு","1Chron","1Chr"],["1 พงศาวดาร | พงศาวดารฉบับที่หึ่ง","1Chron | 1Chr","1พงศาวดาร","พงศาวดารฉบับที่หึ่ง","1Chron","1Chr"],["1 Sử Biên Niên","1Chron | 1Chr","1Sửbiênniên","1Chron","1Chr"]],[["2 Chronicles","2Chron | 2Chr","2Chronicles","2Chron","2Chr"],["2 Kronieke","2Ch","2Kronieke"],["2Kronikave","2Chron | 2Chr","2Kronikave","2Chron","2Chr"],["","",""],["2اخبار","2Chron | 2Chr","2اخبار","2Chron","2Chr"],["編年記下","2Chron | 2Chr","編年記下","2Chron","2Chr"],["","2Chron | 2Chr","","2Chron","2Chr"],["2Paralipomenon","2Chron | 2Chr","2Paralipomenon","2Chron","2Chr"],["2 Cronica | 2 Mga Cronica","2Cro","2Cronica","2Mgacronica"],["2Chroniques","2Chron | 2Chr","2Chroniques","2Chron","2Chr"],["2Chronik","2Chron | 2Chr","2Chronik","2Chron","2Chr"],["Β Χρονικών","2Chron | 2Chr","Βχρονικών","2Chron","2Chr"],["2Krónika","2Chron | 2Chr","2Krónika","2Chron","2Chr"],["2Cronache","2Cr","2Cronache"],["歴代志下","2Chron | 2Chr","歴代志下","2Chron","2Chr"],["역대하 | 역대기 하","대하","역대하","역대기하"],["II Paralipomenon","II Paral","Iiparalipomenon"],["2Kronik","2Krn","2Kronik"],["2 Crónicas","2Chron | 2Chr","2Crónicas","2Chron","2Chr"],["2Cronici","2Chron | 2Chr","2Cronici","2Chron","2Chr"],["2Паралипоменон","2Пар","2Паралипоменон"],["2Crónicas","2Cro | 2Crón","2Crónicas","2Cro","2Crón"],["2 குறிப்பேடு","2Chron | 2Chr","2குறிப்பேடு","2Chron","2Chr"],["2 พงศาวดาร | พงศาวดารฉบับที่สอง","2Chron | 2Chr","2พงศาวดาร","พงศาวดารฉบับที่สอง","2Chron","2Chr"],["2 Sử Biên Niên","2Chron | 2Chr","2Sửbiênniên","2Chron","2Chr"]],[["Ezra","Ezr","Ezra"],["Esra","Ezr","Esra"],["Esdra","Ezr","Esdra"],["","",""],["عزرا","Ezr","عزرا"],["厄斯德拉上","Ezr","厄斯德拉上"],["","Ezr",""],["Ezdráš","Ezr","Ezdráš"],["Ezra","Ezr","Ezra"],["Esdras","Ezr","Esdras"],["Esra","Ezr","Esra"],["Έσδρας","Ezr","Έσδρας"],["Ezsdrás","Ezr","Ezsdrás"],["Esdra","Esd","Esdra"],["エズラ記","Ezr","エズラ記"],["에스라 | 에즈라","스","에스라","에즈라"],["Esdræ | Esdrae","Esd","Esdræ","Esdrae"],["Ezdrasza","Ezd","Ezdrasza"],["Esdras","Ezr","Esdras"],["Ezra","Ezr","Ezra"],["Ездра","Езд","Ездра"],["Esdras","Esd","Esdras"],["எஸ்ரா","Ezr","எஸ்ரா"],["เอสรา","Ezr","เอสรา"],["Étra","Ezr","Étra"]],[["Nehemiah","Neh","Nehemiah"],["Nehemia","Nh","Nehemia"],["Nehemía","Neh","Nehemía"],["","",""],["نحميا","Neh","نحميا"],["厄斯德拉下","Neh","厄斯德拉下"],["","Neh",""],["Nehemjáš","Neh","Nehemjáš"],["Nehemias","Neh","Nehemias"],["Néhémie","Neh","Néhémie"],["Nehemia","Neh","Nehemia"],["Νεεμίας","Neh","Νεεμίας"],["Nehemiás","Neh","Nehemiás"],["Neemia","Ne","Neemia"],["ネヘミヤ記","Neh","ネヘミヤ記"],["느헤미야","느","느헤미야"],["Nehemiæ | Nehemiae","Neh","Nehemiæ","Nehemiae"],["Nehemiasza","Ne","Nehemiasza"],["Neemias","Neh","Neemias"],["Neemia","Neh","Neemia"],["Неемия","Неем","Неемия"],["Nehemías","Ne | Neh","Nehemías","Ne","Neh"],["நெகேமியா","Neh","நெகேமியா"],["เนหะมีย์","Neh","เนหะมีย์"],["Nơkhemia","Neh","Nơkhemia"]],[["Tobit | Tobias","Tob","Tobit","Tobias"],["Tobias","","Tobias"],["Tobit","Tob","Tobit"],["","",""],["طوبيا","Tob","طوبيا"],["多俾亞傳","Tob","多俾亞傳"],["","Tob",""],["Tobiáš","Tob","Tobiáš"],["Tobit","Tob","Tobit"],["Tobie","Tob","Tobie"],["Tobit | Tobias","Tob","Tobit","Tobias"],["Τωβίτ","Tob","Τωβίτ"],["Tóbiás","Tob","Tóbiás"],["Tobia","Tb","Tobia"],["トビト記","Tob","トビト記"],["토비트","Tob","토비트"],["Thobis","Tob","Thobis"],["Tobiasza","Tb","Tobiasza"],["Tobias","Tob","Tobias"],["Tobit","Tob","Tobit"],["Тови́та","Тов","Тови́та"],["Tobías","Tb | Tob","Tobías","Tb","Tob"],["தோபித்து","Tob","தோபித்து"],["โทบิต","Tob","โทบิต"],["Tobit","Tob","Tobit"]],[["Judith","Jdt","Judith"],["Judith","","Judith"],["Judith","Jdt","Judith"],["","",""],["يهوديت","Jdt","يهوديت"],["友弟德傳","Jdt","友弟德傳"],["","Jdt",""],["Júdit","Jdt","Júdit"],["Judith","Jdt","Judith"],["Judith","Jdt","Judith"],["Judit","Jdt","Judit"],["Ιουδίθ","Jdt","Ιουδίθ"],["Judit","Jdt","Judit"],["Giuditta","Gdt","Giuditta"],["ユディト記","Jdt","ユディト記"],["유딧","Jdt","유딧"],["Iudith | Judith","Idt","Iudith","Judith"],["Judyty","Jdt","Judyty"],["Judite","Jdt","Judite"],["Iudita","Jdt","Iudita"],["Юдифи | Иудифи","Иудифь","Юдифи","Иудифи"],["Judit","Jdt","Judit"],["யூதித்து","Jdt","யூதித்து"],["ยูดิธ","Jdt","ยูดิธ"],["Judith","Jdt","Judith"]],[["Esther","Est","Esther"],["Ester","Es","Ester"],["Ester","Est","Ester"],["","",""],["استير","Est","استير"],["艾斯德爾傳","Est","艾斯德爾傳"],["","Est",""],["Ester","Est","Ester"],["Ester","Est","Ester"],["Esther","Est","Esther"],["Ester","Est","Ester"],["Εσθήρ","Est","Εσθήρ"],["Eszter","Est","Eszter"],["Ester","Est","Ester"],["エステル記","Est","エステル記"],["에스더 | 에스테르(에)","에","에스더","에스테르(에)"],["Esther","Est","Esther"],["Estery","Est","Estery"],["Ester","Est","Ester"],["Estera","Est","Estera"],["Есфирь","Есф","Есфирь"],["Ester","Est","Ester"],["எஸ்தர்","Est","எஸ்தர்"],["เอสเธอร์","Est","เอสเธอร์"],["Étte","Est","Étte"]],[["1 Maccabees","1Macc | 1Mc","1Maccabees","1Macc","1Mc"],["1 Makkabeërs","","1Makkabeërs"],["1 Maccabees","1Macc | 1Mc","1Maccabees","1Macc","1Mc"],["","",""],["المكابيين1","1Macc | 1Mc","المكابيين1","1Macc","1Mc"],["瑪加伯上","1Macc | 1Mc","瑪加伯上","1Macc","1Mc"],["","1Macc | 1Mc","","1Macc","1Mc"],["1Makabejská","1Macc | 1Mc","1Makabejská","1Macc","1Mc"],["1 Macabeo","1Mcb","1Macabeo"],["1 Maccabées","1Macc | 1Mc","1Maccabées","1Macc","1Mc"],["1Makkabäer","1Macc | 1Mc","1Makkabäer","1Macc","1Mc"],["A Μακκαβαίοι","1Macc | 1Mc","Aμακκαβαίοι","1Macc","1Mc"],["1 Makkabeusok","1Macc | 1Mc","1Makkabeusok","1Macc","1Mc"],["1Maccabei","1Mac","1Maccabei"],["マカバイ記1","1Macc | 1Mc","マカバイ記1","1Macc","1Mc"],["마카베오상","1Macc | 1Mc","마카베오상","1Macc","1Mc"],["I Maccabæorum | I Maccabaeorum","I Macc","Imaccabæorum","Imaccabaeorum"],["1Machabejska","1Mch","1Machabejska"],["1 Macabeus","1Macc | 1Mc","1Macabeus","1Macc","1Mc"],["1Macabei","1Macc | 1Mc","1Macabei","1Macc","1Mc"],["1Маккавейские","1Macc | 1Mc","1Маккавейские","1Macc","1Mc"],["1Macabeos","1Mac","1Macabeos"],["1 மக்கபேயர்","1Macc | 1Mc","1மக்கபேயர்","1Macc","1Mc"],["1 มัคคาบี | มัคคาบีฉบับที่หึ่ง","1Macc | 1Mc","1มัคคาบี","มัคคาบีฉบับที่หึ่ง","1Macc","1Mc"],["1 Maccabee","1Macc | 1Mc","1Maccabee","1Macc","1Mc"]],[["2 Maccabees","2Macc | 2Mc","2Maccabees","2Macc","2Mc"],["2 Makkabeërs","","2Makkabeërs"],["2 Maccabees","2Macc | 2Mc","2Maccabees","2Macc","2Mc"],["","",""],["المكابيين2","2Macc | 2Mc","المكابيين2","2Macc","2Mc"],["瑪加伯下","2Macc | 2Mc","瑪加伯下","2Macc","2Mc"],["","2Macc | 2Mc","","2Macc","2Mc"],["2Makabejská","2Macc | 2Mc","2Makabejská","2Macc","2Mc"],["2 Macabeo","2Mcb","2Macabeo"],["2 Maccabées","2Macc | 2Mc","2Maccabées","2Macc","2Mc"],["2Makkabäer","2Macc | 2Mc","2Makkabäer","2Macc","2Mc"],["B Μακκαβαίοι","2Macc | 2Mc","Bμακκαβαίοι","2Macc","2Mc"],["2 Makkabeusok","2Macc | 2Mc","2Makkabeusok","2Macc","2Mc"],["2Maccabei","2Mac","2Maccabei"],["マカバイ記2","2Macc | 2Mc","マカバイ記2","2Macc","2Mc"],["마카베오하","2Macc | 2Mc","마카베오하","2Macc","2Mc"],["II Maccabæorum | II Maccabaeorum","II Macc","Iimaccabæorum","Iimaccabaeorum"],["2Machabejska","2Mch","2Machabejska"],["2 Macabeus","2Macc | 2Mc","2Macabeus","2Macc","2Mc"],["2Macabei","2Macc | 2Mc","2Macabei","2Macc","2Mc"],["2Маккавейские","2Macc | 2Mc","2Маккавейские","2Macc","2Mc"],["2Macabeos","2Mac","2Macabeos"],["2 மக்கபேயர்","2Macc | 2Mc","2மக்கபேயர்","2Macc","2Mc"],["2 มัคคาบี | มัคคาบีฉบับที่สอง","2Macc | 2Mc","2มัคคาบี","มัคคาบีฉบับที่สอง","2Macc","2Mc"],["2 Maccabee","2Macc | 2Mc","2Maccabee","2Macc","2Mc"]],[["Job","Jb","Job"],["Job","Jb","Job"],["Jobi","Jb","Jobi"],["","",""],["ايوب","Jb","ايوب"],["約伯傳","Jb","約伯傳"],["","Jb",""],["Jób","Jb","Jób"],["Job","Job","Job"],["Job","Jb","Job"],["Ijob 
[...]
